


<h1>Routing Demo</h1>


@* This is for Partial Route*@
@*<form>
    <div class="container">

        <a class="btn btn-secondary" asp-controller="Client" asp-action="OnSubmit"> Submit </a>

    </div>
</form>*@


@*This is Right Way to Routing*@
<form>
    <div class="container">

        <a class="btn btn-secondary" asp-route="client_Submit"> Submit </a>

    </div>
</form>